target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
target/*
.setting/*
.classpath
.project
mvnw
mvnw.cmd


###F:\BOCOBI2\rencontre\backend\src\main\java\com\bocobi2\rencontre\model\Test.java
src/main/resources/application.properties
target/m2e-wtp/web-resources/META-INF/MANIFEST.MF
